body{
    margin-left: 270px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(232, 232, 232);
}

.contenedor-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #5390f4;
    padding: 10px;
    width: 200px;
    height: auto;
    gap: 30px;
    color: white;
    padding-left: 40px;
    height: 100%;
    top: 0px;
    left: 0px;
}   

.contenedor-menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}   

.menu a:hover{
    background-color: #477cd2;
}

h1{
    text-align: center;
}

.contenedor-crear-tascas{
    margin: 50px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pujar-arxiu{
    display: flex;
    gap: 15px;
}

.nova-tasca-button {
    background-color: #5390f4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

}
.nova-tasca-button:hover{
    background-color: #477cd2;
}

.pujar-arxiu-button{
    background-color: #5390f4;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.pujar-arxiu-button:hover{
    background-color: #477cd2;
}

.input-arxius {
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2{
    margin: 50px;
}


/* Pagina crear tasques*/
.formulari-crear-tasca{
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    margin: 0 auto;
}

.input-crear-tasca{
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
}

.crear-tasca-boton{
    background-color: #5390f4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.crear-tasca-boton:hover{
    background-color: #477cd2;
}

/* pagina crear categorias */ 

.formulari-crear-categoria{
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
}

.input-crear-categorias{
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
}

.crear-categoria-boton{
    background-color: #5390f4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.crear-categoria-boton:hover{
    background-color: #477cd2;
}